<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dinehawaiipartner">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDxs8X1XoGQHTrUlymcw-8KpyBTaFmu3h0" />

        <activity
            android:name=".Activity.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Manager.VendorHomeActivity"
            android:label="@string/title_activity_vendor_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.Driver.DriverHomeActivity"
            android:label="@string/title_activity_driver_home"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.Manager.ManageDriversActivity" />
        <activity android:name=".Activity.Manager.AddNewDriverActivity" />
        <activity android:name=".Activity.Manager.MCompletedOrderActivity" />
        <activity android:name=".Activity.Manager.OrderDetailActivity" />

        <service
            android:name=".Services.LocationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Activity.Driver.NewDeliveryActivity"
            android:label="@string/title_activity_new_delivery"
            android:theme="@style/AppTheme"></activity>

        <receiver
            android:name=".Reciever.SendLocation"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".Services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>